
<!--Se definen los elementos que aparecerán en la cabecera de la pantalla de la aplicación-->
<ion-header>

  <!--CABECERA SUPERIOR ( JUNTO A MENU LATERAL )-->
  <form class="ClasspipCabecera">
      <button ion-button menuToggle >
          <ion-icon name="menu"></ion-icon>
      </button>
      <img src="../../assets/icon/Icono Classpip.png">
      <h2 style="color:white">Classpip</h2>
    </form>

  <!--CABECERA INFERIOR (PERMITIRA RETROCEDER A LAS PANTALLAS ANTERIORES mediante un NavBar)-->
  <div>
      <ion-navbar color="azulcabecera">
        <ion-title>ASIGNACION</ion-title>
      </ion-navbar>
  </div>

</ion-header>

<ion-content class="fondoDegradado" >

          <!--SE DEFINE EL CONTENIDO INFORMATIVO DE LA PARTE SUPERIOR DE LA PANTALLA-->
  <!--Se mostrará distinción entre asignación Manual o Aleatorio y sus correspondientes
  funcionalidades-->

  <ion-content class="contenedorInformacion" style="height: 40%;">

      <!--Se define un seleccionador de opciones , puedes escoger entre Asignación Manual o
      Aleatoria, de esa manera se asigna un value para mostrar posteriormente un contenido u
      otro-->
      <div padding>
          <ion-segment [(ngModel)]="Tipo">
            <ion-segment-button value="Manual" >
              Manual
            </ion-segment-button>
            <ion-segment-button value="Aleatorio">
              Aleatorio
            </ion-segment-button>
          </ion-segment>
      </div>

      <!--Segun el tipo de Asignación que se haya seleccionado, se mostrará una ion-list u otra
      con sus correspondiente funciones-->
      <div [ngSwitch]="Tipo">

            <ion-list *ngSwitchCase="'Manual'">

                <ion-grid>
                    <!--Al poner <b> permitimos que las palabras que esten dentro se visualicen en negrita-->
                    <p class="InformacionPantalla">Seleccione <b>el cromo</b> a asignar:</p>

                    <!--Se define un desplegable que muestra los cromos disponibles y su correspondiente
                    aspecto físico-->
                    <ion-row>


                        <ion-col col-5>
                              <!--Se define el desplegable de cromos que recibe los cromos desde cromosColeccion-->
                              <select   style="font-size: 80%; margin-left:  15%;" [(ngModel)]=cromoSeleccionado (ngModelChange)="ionChange($event)"  name="cromo">
                                  <option *ngFor="let cromo of cromosColeccion">
                                      {{cromo.Nombre}}
                                  </option>
                              </select>

                              <!--Se definen searchbars para filtrar los alumnos a los que se quiere asignar el cromo-->
                              <ion-searchbar *ngIf="juegoSeleccionado.Modo === 'Individual'"  (ionInput)="getItems($event)" placeholder="Filtrar..." style="background-color: transparent;margin-top: 2%; margin-left: 4%; width:150%; " ></ion-searchbar>
                              <ion-searchbar *ngIf="juegoSeleccionado.Modo !== 'Individual'"  (ionInput)="getItems1($event)" placeholder="Filtrar..." style="background-color: transparent;margin-top: 2%; margin-left: 4%; width:150%" ></ion-searchbar>
                        </ion-col>

                        <!--Se define la estética del cromo según el nivel del propio cromo-->
                        <ion-col col-4 *ngIf="cromo" style="margin-left:21%; " >
                            <ion-thumbnail  item-start class="cromo" style="margin-top: -45%" name="cromo"
                            [ngClass]="{
                            'Diamante' : cromo[0].Nivel === 'Diamante',
                            'Platino' : cromo[0].Nivel === 'Platino',
                            'Oro' : cromo[0].Nivel === 'Oro',
                            'Plata' : cromo[0].Nivel === 'Plata',
                            'Bronce' : cromo[0].Nivel === 'Bronce'}">

                            <img class ="imagenCromo" [src]="imagenCromo" >
                            <div class="contenidoNombre" style="text-align: center">
                              <h2 id="NombreCromo" >{{cromo[0].Nombre}}</h2>
                            </div>
                            <h2 id="NivelCromo" ><i>{{cromo[0].Nivel}}</i></h2>

                          </ion-thumbnail>

                        </ion-col>

                    </ion-row>

                </ion-grid>

            </ion-list>

            <ion-list *ngSwitchCase="'Aleatorio'" style="margin-top:-1%">
              <ion-grid>

                <ion-row>

                    <ion-col col-8>
                      <!--Al poner <b> permitimos que las palabras que esten dentro se visualicen en negrita-->
                      <p class="InformacionPantalla">Seleccione <b>el número de cromos</b> a asignar:</p>

                      <!--Se define la cantidad de cromos aleatorios que se desea asignar-->
                      <input style="font-size: 80%; margin-left: 8%;" type="number" name="numeroCromosRandom" placeholder="Escribe el número de cromos" requiered [(ngModel)]="numeroCromosRandom">

                      <!--Se definen searchbars para filtrar los alumnos a los que se quiere asignar el cromo-->
                      <ion-searchbar *ngIf="juegoSeleccionado.Modo === 'Individual'"  (ionInput)="getItems($event)" placeholder="Filtrar..." style="background-color: transparent;margin-top: 2%; margin-left: 4%"></ion-searchbar>
                      <ion-searchbar *ngIf="juegoSeleccionado.Modo !== 'Individual'"  (ionInput)="getItems1($event)" placeholder="Filtrar..." style="background-color: transparent;margin-top: 2%; margin-left: 4%"></ion-searchbar>
                    </ion-col>

                    <!--Se define una imagen estática para la representación de un cromo aleatorio-->
                    <ion-col col-3  style="margin-left:-3%; " >
                        <img class="cromoAleatorio" src="../../assets/imgs/Plantilla Cromos.png" >
                    </ion-col>

                </ion-row>

            </ion-grid>


            </ion-list>
      </div>

  </ion-content>

            <!--SE REALIZA UNA DISTINCIÓN ENTRE UN JUEGO INDIVIDUAL O COLECTIVO-->
  <!--De esta manera se consigue bien mostrar los alumnos si se trata de un juego individual
  o de equipos si se trata de un juego colectivo-->

  <div *ngIf="juegoSeleccionado.Modo === 'Individual'" padding >

    <!--Se define la cabecera de la tabla que recoge los alumnos del juego-->
      <ion-grid no-padding  >
        <ion-row class="cabecera" >
          <ion-col col-2 style="margin-top:5%">
            <ion-checkbox></ion-checkbox>
          </ion-col >
          <ion-col col-3 style="margin-left:2%">
            <p >Nombre</p>
          </ion-col>
          <ion-col col-4 style="margin-left: 5%">
            <p >Apellidos</p>
          </ion-col>
        </ion-row>

        <!--Se define el contenido de la tabla que recoge los alumnos del juego-->
        <ion-content id="fondo">
          <div style="margin-top: -6%">
              <ion-row class="casillas" *ngFor="let item of items"  >
                  <ion-col col-2 style="margin-top:5%; margin-left:-1%;">
                    <ion-checkbox [ngModelOptions]="{standalone: true}" [(ngModel)]=item.selected (ionChange)="getSelectedStudents(items)" required ></ion-checkbox>
                  </ion-col>
                  <ion-col col-3 style="margin-left:3%">
                    <p >{{item.Nombre}}</p>
                  </ion-col>
                  <ion-col col-6  style="margin-left: 6%">
                    <p >{{item.PrimerApellido}} {{item.SegundoApellido}}</p>
                  </ion-col>
           </ion-row>
          </div>

        </ion-content>
      </ion-grid>
  </div>

  <div *ngIf="juegoSeleccionado.Modo !== 'Individual'" padding >

      <!--Se define la cabecera de la tabla que recoge los equipos del juego-->
      <ion-grid no-padding  >
        <ion-row class="cabecera" >
          <ion-col col-2 style="margin-top:5%">
            <ion-checkbox></ion-checkbox>
          </ion-col >
          <ion-col col-6 style="margin-left:2%">
            <p >Nombre del equipo</p>
          </ion-col>
        </ion-row>

        <!--Se define el contenido de la tabla que recoge los equipos del juego-->
        <ion-content id="fondo">
          <div style="margin-top: -6%">
              <ion-row  *ngFor="let item of items"  >
                  <ion-col col-2 style="margin-top:5%; margin-left:-1%;">
                    <ion-checkbox [ngModelOptions]="{standalone: true}" [(ngModel)]=item.selected (ionChange)="getSelectedStudents(items)" required ></ion-checkbox>
                  </ion-col>
                  <ion-col col-9 style="margin-left:3%">
                    <p >{{item.Nombre}}</p>
                  </ion-col>
           </ion-row>
          </div>

        </ion-content>
      </ion-grid>
  </div>

              <!--SE REALIZA UNA DISTINCIÓN ENTRE ASIGNACIÓN MANUAL O ALEATORIA-->
  <!--De esta manera se cita a la función showConfirm() para el caso de Asignación Manual y
  la función showConfirm1() para el caso de Asignación Aleatoria-->

  <div [ngSwitch]="Tipo">

    <ion-list *ngSwitchCase="'Manual'">

    <ion-item class="Validacion" (click)="showConfirm();"> Validar
        <ion-icon style="color: white; margin-right: 14%;" name="checkbox" item-left ></ion-icon>
    </ion-item>

    </ion-list>

    <ion-list *ngSwitchCase="'Aleatorio'" >

      <ion-item class="Validacion" (click)="showConfirm1();"> Validar
        <ion-icon style="color: white; margin-right: 14%;" name="checkbox" item-left ></ion-icon>
      </ion-item>

    </ion-list>
</div>





</ion-content>
