page-asignar-cromos {


  .cabecera{
    background-color:map-get($colors, azulcabecera);
    margin-top:-10%;
    margin-bottom: -2%;
    height:50%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    padding-inline-start: 7%;

    p {
      font-size: 13px;
      line-height: 1.5;
      color: rgb(255, 255, 255);
    }
  }

  #fondo {
    background:white;
    height: 130px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: 0px 3px 6px 0px map-get($colors, primary);
  }

  .InformacionPantalla{
    font-size: 11px;
    line-height: 1.5;
    color:  rgb(38, 39, 39);
    margin-left: 8%;
    margin-bottom:3%;
    margin-top:-1%;

    b {
      color: map-get($colors, primary);
    }

  }

  .Informacion{
    background-color: map-get($colors, azulcabecera);
    color: white;
    font-size: 90%;
    font-style: bold;
    width:50%;
    height:10px;
    margin-left:25%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 0px 3px 6px 0px map-get($colors, primary);
  }

  .cromo {
    max-width: 100px;
    max-height: 105px;
    width: 100px;
    height: 105px;
    padding-top:6%;
    border-top-left-radius: 45px;
    border-top-right-radius: 45px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
  }

  .cromoAleatorio {
    max-width: 100px;
    max-height: 115px;
    width: 100px;
    height: 115px;
    margin-top:-25%;
  }

  .imagenCromo {
    max-width: 85px;
    max-height: 50px;
    width: 85px;
    height: 50px;
    border-top-left-radius: 35px;
    border-top-right-radius: 35px;
    position: relative;
    margin-left:7%;
    margin-right: 5%;
    margin-top:1%;
  }

  .Aleatorio{
    background-color: rgb(241, 187, 116);
    box-shadow: 0px 3px 6px 0px rgb(219, 173, 112);
  }

  .Diamante {
    background-color: rgb(62, 177, 163);
    box-shadow: 0px 3px 6px 0px rgb(50, 150, 138);
  }

  .Diamante .contenidoNombre{
    background-color: rgb(62, 177, 163);
    width:85px;
    margin-left:5%;
    margin-right: 2%;
    margin-top:-12%;
  }



  .Platino {
    background-color: rgb(222, 60, 151);
    box-shadow: 0px 3px 6px 0px rgb(187, 50, 128);
  }

  .Platino  .contenidoNombre{
    background-color: rgb(222, 60, 151);
    margin-left:5%;
    width:85px;
    margin-right: 2%;
    margin-top:-12%;
  }



  .Oro {
    background-color: rgb(222, 193, 89);
    box-shadow: 0px 3px 6px 0px rgb(206, 179, 81);
  }

  .Oro .contenidoNombre{
    background-color: rgb(222, 193, 89);
    margin-left:5%;
    margin-right: 2%;
    margin-top:-12%;
    width:85px;
  }



  .Plata {
    background-color: rgb(143, 157, 160);
    box-shadow: 0px 3px 6px 0px rgb(126, 138, 141);
  }

  .Plata .contenidoNombre{
    background-color: rgb(143, 157, 160);
    margin-left:5%;
    margin-right: 2%;
    margin-top:-12%;
    width:85px;
  }



  .Bronce {
    background-color: rgb(180, 135, 75);
    box-shadow: 0px 3px 6px 0px rgb(133, 103, 64);
  }

  .Bronce .contenidoNombre{
    background-color: rgb(180, 135, 75);
    margin-left:5%;
    margin-right: 2%;
    margin-top:-12%;
    width:85px;
  }

  #NombreCromo{
    color:rgb(255, 255, 255);
    font-size: 10px;
    margin-left:2px;
    text-transform: uppercase;
  }

  #NivelCromo{
    color:rgb(255, 253, 253);
    font-size: 10px;
    text-align: center;
    margin-top:-8%;
  }
}
