page-mis-cromos-actuales {

  //Se define los valores estéticos de los textos informativos de la pantalla actual
  #informacion{
    font-size: 14px;
    line-height: 1.5;
    color:  rgb(38, 39, 39);
    margin-right: 2%;
    margin-left: 8%;
    margin-bottom: -3%;
    b {
      color: map-get($colors, primary);
    }
  }

                  //*************Estética referente a CROMOS*************//

//Se define el tamaño de la carta del cromo y los bordes que va a tener.
  .cromo {
    max-width: 130px;
    max-height: 130px;
    width: 130px;
    height: 130px;
    padding-top:6%;
    border-top-left-radius: 45px;
    border-top-right-radius: 45px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
  }

//Se define el color, el tamaño y el peso de la fuente que se utilizará para el Nombre
//del Cromo.
  #NombreCromo{
    color:rgb(255, 255, 255);
    font-size: 12px;
    margin-left:2px;
    text-transform: uppercase;
  }

//Se define el color, el tamaño y la alineación de la fuente que se utilizará para el Nivel
//del Cromo.
  #NivelCromo{
    color:rgb(255, 253, 253);
    font-size: 10px;
    text-align: center;
    margin-top:-6%;
  }

//Se define el tamaño, los bordes y el margen a otros elementos de la imagen del Cromo.
  .imagenCromo {
    max-width: 115px;
    max-height: 80px;
    width: 115px;
    height: 80px;
    border-top-left-radius: 35px;
    border-top-right-radius: 35px;
    position: relative;
    margin-left:5%;
    margin-right: 5%;
  }


        //*************Estética referente a CROMOS segun el nivel del Cromo*************//

//*************Estética referente a nivel DIAMANTE*************//

  .Diamante {
    background-color: rgb(62, 177, 163);
    box-shadow: 0px 3px 6px 0px rgb(50, 150, 138);
  }

  .Diamante .contenidoNombre{
    background-color: rgb(62, 177, 163);
    width:115px;
    margin-left:5%;
    margin-right: 2%;
    margin-top:-8%;
  }


//*************Estética referente a nivel PLATINO*************//
  .Platino {
    background-color: rgb(222, 60, 151);
    box-shadow: 0px 3px 6px 0px rgb(187, 50, 128);
  }

  .Platino  .contenidoNombre{
    background-color: rgb(222, 60, 151);
    margin-left:5%;
    width:115px;
    margin-right: 2%;
    margin-top:-8%;
  }


//*************Estética referente a nivel ORO*************//
  .Oro {
    background-color: rgb(222, 193, 89);
    box-shadow: 0px 3px 6px 0px rgb(206, 179, 81);
  }

  .Oro .contenidoNombre{
    background-color: rgb(222, 193, 89);
    margin-left:5%;
    margin-right: 2%;
    margin-top:-8%;
    width:115px;
  }


//*************Estética referente a nivel PLATA*************//
  .Plata {
    background-color: rgb(143, 157, 160);
    box-shadow: 0px 3px 6px 0px rgb(126, 138, 141);
  }

  .Plata .contenidoNombre{
    background-color: rgb(143, 157, 160);
    margin-left:5%;
    margin-right: 2%;
    margin-top:-8%;
    width:115px;
  }


//*************Estética referente a nivel BRONCE*************//
  .Bronce {
    background-color: rgb(180, 135, 75);
    box-shadow: 0px 3px 6px 0px rgb(133, 103, 64);
  }

  .Bronce .contenidoNombre{
    background-color: rgb(180, 135, 75);
    margin-left:5%;
    margin-right: 2%;
    margin-top:-8%;
    width:115px;
  }

//*************Estética referente a los cromos que nos FALTEN*************//

  .Falti {
    opacity: 0.5 !important;
    background-color: rgb(235, 235, 228) !important;
    box-shadow: 0px 3px 6px 0px  rgb(126, 138, 141) !important;
  }

  .Falti .contenidoNombre{
    background-color: rgb(235, 235, 228)!important;
    margin-left:5%;
    margin-right: 2%;
    margin-top:-8%;
    width:115px;
  }

  .Falti .contenidoNombre #NombreCromo, .Falti #NivelCromo{
    color: rgb(84, 84, 84) !important;
  }

}
