page-asignar-puntos {

                   //*************Paneles con comentarios sobre pantallas*************//

//Se define los parametros esteticos del pequeño texto explicativo de la pantalla y además se
//define los valores "b" que son los parametros para texto en negrita.

  .InformacionPantalla{
    font-size: 12px;
    line-height: 1.5;
    color:  rgb(38, 39, 39);
    margin-left: 8%;
    margin-right: 2%;
    margin-bottom:3%;
    margin-top:5%;

    b {
      color: map-get($colors, primary);
    }
  }

//Se define las características de la cabecera de la pantalla Asignar-Cromos además de
//definir el aspecto estético de los elementos

  .cabecera{
    background-color:map-get($colors, azulcabecera);
    margin-top:-10%;
    margin-bottom: -2%;
    height:50%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    padding-inline-start: 7%;

    p {
      font-size: 13px;
      line-height: 1.5;
      color: rgb(255, 255, 255);
    }
  }

//Se define las características del botón de Validación, desde el color de fondo hasta el tamaño
//de la letra que aparecerá en dicho botón.
  .Validacion{
    background-color: map-get($colors, azulcabecera);
    color: white;
    font-size: 90%;
    font-style: bold;
    width:50%;
    height:10px;
    margin-left:25%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 0px 3px 6px 0px map-get($colors, primary);
  }

//Se define las características del fondo de la tabla que recoge la información tanto de alumnos
//como de equipos

  #fondo {
    background:white;
    height: 170px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: 0px 3px 6px 0px map-get($colors, primary);
  }

}
