page-mispuntos {

  #p{
    font-size: 4.5vw;
    line-height: 1.5;
    color:  rgb(38, 39, 39);
    margin-left: 6%;
    margin-right: 6%;
    margin-bottom:5%;
    margin-top:0.3%;

    b {
      color: map-get($colors, primary);
    }
  }

  p{
    font-size:4.5vw;
    margin-left:6%;
    margin-right:15%;
    margin-bottom: 4%;
    margin-top:0.3%;
    color:map-get($colors, light) ;
  }

  .cabecera{
    background-color: map-get($colors, primary);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    margin-left:2%;
    margin-right:2%;
  }

  .contenido{
    background-color: map-get($colors, azulcabecera);
    margin-left:2%;
    margin-right:2%;
  }

  .p2{
    margin-left:5%;
    margin-right:5%;
    text-align: justify;
    color: black;
    font-size:4.2vw;
    margin-top:-16%;

  }

  img{
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
  }

  .contenedorInformacion{
    height: 27%;
    box-shadow: 0px 3px 6px 0px map-get($colors, primary);
    margin-bottom:5%;
    background-color: white;
  }

}
