
<ion-header>

  <form class="ClasspipCabecera">
      <button ion-button menuToggle >
          <ion-icon name="menu"></ion-icon>
      </button>
      <img src="../../assets/icon/Icono Classpip.png">
      <h2 style="color:white">Classpip</h2>
    </form>

<ion-navbar color="azulcabecera">
  <ion-title >MI JUEGO</ion-title>
</ion-navbar>

</ion-header>

<ion-content class="fondoDegradado">

    <ion-content class="contenedorInformacion">
        <ion-row>
            <ion-col col-12>
                <p id="p">Se ha seleccionado un <b>{{juegoSeleccionado.Tipo}}</b> de tipo <b>{{juegoSeleccionado.Modo}}</b> . </p>
            </ion-col>
        </ion-row>
    </ion-content>

  <div *ngIf= "juegoSeleccionado.Tipo === 'Juego De Puntos'">
      <ion-row>
          <ion-col col-6 >
              <ion-item  class="Informacion" (click) = irInformacion(juegoSeleccionado);> Información
                  <ion-icon style="color: white; margin-right: 2%;" name="information" item-left ></ion-icon>
              </ion-item>
          </ion-col>

          <ion-col col-6>
              <ion-item class="Asignar" (click) = AsignarPuntos(juegoSeleccionado);>Asignar Puntos
                  <ion-icon style="color: white;  margin-right: 2%;" name="add" item-left ></ion-icon>
            </ion-item>
          </ion-col>

      </ion-row>


      <div class="contenedorInformacion">
          <ion-row style="margin-top:5%;">

              <p style="font-size: 11px; margin-left: 10%;" > Filtrar por tipo de punto </p>
              <select style="font-size: 75%; margin-left: 5%;" [(ngModel)]="puntoSeleccionadoId" name="punto" (change) = "MostrarRankingSeleccionado()">
                  <option *ngFor="let punto of listaSeleccionable" [value]="punto.id">
                    {{punto.Nombre}}
                  </option>
              </select>
      </ion-row>
      </div>

        <div *ngIf="juegoSeleccionado.Modo === 'Individual'" padding >
          <ion-grid no-padding  >
            <ion-row class="cabecera" >
              <ion-col col-2 style="margin-left:-2%">
                <p>Pos.</p>
              </ion-col >
              <ion-col col-3 style="margin-left:2%">
                <p >Nombre</p>
              </ion-col>
              <ion-col col-4 style="margin-left: 3%">
                <p >Apellido</p>
              </ion-col>
              <ion-col col-3 style="margin-left:-5%">
                <p>Puntos</p>
              </ion-col>
            </ion-row>

            <ion-content id="fondo">
              <div style="margin-top: -6%">
                  <ion-row class="casillas" *ngFor="let item of rankingJuegoDePuntos"  >
                      <ion-col col-2>
                        <p><b>{{item.posicion}}</b></p>
                      </ion-col>
                      <ion-col col-3>
                        <p >{{item.nombre}}</p>
                      </ion-col>
                      <ion-col col-5 style="margin-left: 3%">
                        <p >{{item.primerApellido}}</p>
                      </ion-col>
                      <ion-col col-2 style="margin-left:-8%">
                        <p>{{item.puntos}}</p>
                      </ion-col>
               </ion-row>
              </div>

            </ion-content>




          </ion-grid>
        </div>

        <div *ngIf="juegoSeleccionado.Modo !== 'Individual'" padding >
          <ion-grid no-padding  >
            <ion-row class="cabecera" >
              <ion-col col-4 style="margin-left:-2%">
                <p>Pos.</p>
              </ion-col >
              <ion-col col-5 style="margin-left:-13%">
                <p >Nombre</p>
              </ion-col>
              <ion-col col-3 style="margin-left:9%" >
                <p>Puntos</p>
              </ion-col>
            </ion-row>

            <ion-content id="fondo">
              <div style="margin-top: -6%">
                  <ion-row class="casillas" *ngFor="let item of rankingEquiposJuegoDePuntos"  >
                      <ion-col col-4>
                        <p><b>{{item.posicion}}</b></p>
                      </ion-col>
                      <ion-col col-5 style="margin-left:-15%">
                        <p id="p1" >{{item.nombre}}</p>
                      </ion-col>
                      <ion-col col-3 style="margin-left:12%">
                        <p>{{item.puntos}}</p>
                      </ion-col>
               </ion-row>
              </div>

            </ion-content>




          </ion-grid>
        </div>



  </div>

  <div *ngIf= "juegoSeleccionado.Tipo === 'Juego De Colección'">

    <ion-row>
      <ion-col col-6 >
          <ion-item  class="Informacion" (click) = irInformacion(juegoSeleccionado.coleccionId);> Información
              <ion-icon style="color: white; margin-right: 2%;" name="information" item-left ></ion-icon>
          </ion-item>
      </ion-col>

      <ion-col col-6>
          <ion-item class="Asignar" (click) = AsignarCromos(juegoSeleccionado);>Asignar Cromos
              <ion-icon style="color: white;  margin-right: 2%;" name="add" item-left ></ion-icon>
        </ion-item>
      </ion-col>

    </ion-row>



    <div *ngIf="juegoSeleccionado.Modo === 'Individual'" padding style="margin-top:10%">

       <!--Mediante el ion-searchbar permitimos filtrar los alumnos y buscar el deseado-->
    <ion-searchbar  (ionInput)="getItems($event)" placeholder="Filtrar por alumno" style="background-color: transparent; margin-bottom: 10%; margin-top:-10%"></ion-searchbar>

    <ion-grid no-padding  >
          <ion-row class="cabecera" >
            <ion-col col-3 style="margin-left:1%">
              <p >Nombre</p>
            </ion-col>
            <ion-col col-6 style="margin-left:1%" >
              <p >Apellidos</p>
            </ion-col>
            <ion-col col-3 style="margin-left:-7%">
              <p>Acceder</p>
            </ion-col>
          </ion-row>

          <ion-content id="fondo">
            <div style="margin-top: -6%">
                <ion-row class="casillas" *ngFor="let item of items"  >
                    <ion-col col-3>
                      <p >{{item.Nombre}}</p>
                    </ion-col>
                    <ion-col col-7 style="margin-left: 3%">
                      <p >{{item.PrimerApellido}} {{item.SegundoApellido}}</p>
                    </ion-col>
                    <ion-col col-2 style="margin-top:3%;margin-left: -4%">
                        <ion-icon color="primary" name="albums" (click)="irCromosActualesAlumno(item,juegoSeleccionado);"></ion-icon>
                    </ion-col>
             </ion-row>
            </div>

          </ion-content>




        </ion-grid>
    </div>

    <div *ngIf="juegoSeleccionado.Modo !== 'Individual'" padding style="margin-top:10%" >

       <!--Mediante el ion-searchbar permitimos filtrar los alumnos y buscar el deseado-->
    <ion-searchbar  (ionInput)="getItems1($event)" placeholder="Filtrar por equipo" style="background-color: transparent;margin-bottom: 10%; margin-top:-10%"></ion-searchbar>

    <ion-grid no-padding  >
          <ion-row class="cabecera" >
            <ion-col col-9>
              <p >Nombre</p>
            </ion-col>
            <ion-col col-3 style="margin-left:-8%">
              <p>Acceder</p>
            </ion-col>
          </ion-row>

          <ion-content id="fondo">
            <div style="margin-top: -3%">
                <ion-row class="casillas" *ngFor="let item of items"  >
                    <ion-col col-9>
                      <p >{{item.Nombre}}</p>
                    </ion-col>
                    <ion-col col-3 style="margin-top:3%;">
                      <ion-icon color="primary" name="albums" (click)="irCromosActualesEquipo(item,juegoSeleccionado);"></ion-icon>
                    </ion-col>

             </ion-row>
            </div>

          </ion-content>




        </ion-grid>
    </div>

  </div>





</ion-content>

