page-juego-seleccionado {

//Se define las características del fondo de la tabla que recoge la información tanto de alumnos
//como de equipos
    #fondo {
      background:white;
      height: 170px;
      border-bottom-left-radius: 20px;
      border-bottom-right-radius: 20px;
      box-shadow: 0px 3px 6px 0px map-get($colors, primary);
    }

//Se definen parámetros estéticos de la clase p y de las letras en negrita
    #p{
      font-size: 14px;
      line-height: 1.5;
      color:  rgb(38, 39, 39);
      margin-left: 7%;
      margin-right: 2%;
      margin-bottom:2%;
      margin-top:3%;

      b {
        color: map-get($colors, primary);
      }
    }

//Se define las características de la cabecera de la pantalla Juego-seleccionado además de
//definir el aspecto estético de los párrafos
  .cabecera{
    background-color:map-get($colors, primary);
    margin-top:-8%;
    margin-bottom: -2%;
    height:50%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    padding-inline-start: 7%;

    p {
      font-size: 13px;
      line-height: 1.5;
      color: rgb(255, 250, 250);
    }
  }

  //Se define los valores estéticos del contenido de la tabla
  .casillas{
    background-color:transparent;
    p {
      font-size: 14px;
      line-height: 0.3;
      color: rgb(123, 124, 124);

      b {
        color: map-get($colors, primary);
      }
    }

  }

  //Se define el peso de la letra en negrita
  b {
    font-weight: 500;
  }

  //Se definen parámetros estéticos de los párrafos y de las letras en negrita
  p {
    font-size: 14px;
    line-height: 1.5;
    color: rgb(64, 68, 71);

    b {
      color: #2372e9;
    }

  }

  //Se define la altura de la linea de los Nombres de los equipos
  #NombreEquipos{
    line-height: 1.5;
    margin-top:5%
  }



  //Se definen los valores estéticos del botón Información
  .Informacion{
    background-color: rgba(248, 56, 56, 0.966);
    color: white;
    font-size: 75%;
    font-style: bold;
    height: 50%;
    max-height: 50px;
    margin-top:-15%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 0px 3px 6px 0px rgba(223, 44, 44, 0.966);
  }

  //Se definen los valores estéticos del botón Asignar cromos/puntos
  .Asignar{
    background-color: rgb(138, 177, 138) ;
    color: white;
    font-size: 75%;
    font-style: bold;
    margin-top:-15%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 0px 3px 6px 0px rgb(83, 116, 83);
  }
}
